<% provide(:title, "Map") %>

<!DOCTYPE html>
<html>
  <head>
  	<p> Park Place </p>
    <style type="text/css">
      html, body, #map-canvas { height: 90%; width: 90%; padding: 0;}
    </style>
    <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true">
</script>
    
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 49.261226, lng: -123.1139268},
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

	    var styles = [
	  		{
	  		  	stylers: [
	  		  	    { hue: "#00ffe6" },
	  		  	    { saturation: -20 }
	  		 	 ]
	  		},{
	  		 	featureType: "road",
	    		elementType: "geometry",
	    		stylers: [
	    	 	    { lightness: 100 },
	    	  		{ visibility: "simplified" }
	    		]
	  		},{
	    		featureType: "road",
	    		elementType: "labels",
	    		stylers: [
	     	 		{ visibility: "off" }
	    		]
	  		}
		];

		map.setOptions({styles: styles});

		 var contentString = '<div id="content">'+
      		'<div id="siteNotice">'+
      		'</div>'+
      		'<h1 id="firstHeading" class="firstHeading">Arbutus Village Park</h1>'+
      		'<div id="bodyContent">'+
      		'<p><b>Arbutus Village Park</b> is a small ' +
      		'park in beautiful Vancouver. '+
      		'It has a playground where your little ones can come and play.</p>'+
      		'<p>Attribution: Arbutus Village Park, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
      		'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
      		'(last visited June 22, 2009).</p>'+
      		'</div>'+
      		'</div>';

      	var infowindow = new google.maps.InfoWindow({
      		content: contentString
  		});

		//var myLatLng = new google.maps.LatLng(49.249783,-123.155250);

    var myLatLngs = [[49.249783,-123.155250],
      [49.3,-123.155250],
      [49.4,-123.155250],
      [49.5,-123.155250]];

    var parkNames = ['Arbutus Village Park', 'Mom Village Park', 'Danya Village Park', 'Sazi Village Park'];
    var markers = new Array();

    var i;
    for (i = 0; i < 4; i++) {
      //alert(i);
  		markers.push(new google.maps.Marker({
       		position: new google.maps.LatLng(myLatLngs[i][0], myLatLngs[i][1]),
       		map: map,
      	    title: parkNames[i],
            id: i
      	    // icon: parkIcon
    		}));

      // google.maps.event.addListener(markers[i], 'click', function() {
      //     infowindow.open(map,markers[i]);
      //   });

    }

    // For every park in parks use their id and iterate through this instead of var i
    markers.forEach(function(marker){
      google.maps.event.addListener(markers[marker.id], 'click', function() {
            infowindow.open(map,markers[marker.id]);
            //alert(marker.id);
          });
    }); 

    // for (i = 0; i<4; i++){
    //   google.maps.event.addListener(markers[i], 'click', function() {
    //         infowindow.open(map,markers[i]);
    //         alert(i);
    //       });
    // }


    for (i = 0; i<4; i++){
        markers[i].setmap(map);
    }
      //map.data.loadGeoJson('ftp://webftp.vancouver.ca/OpenData/json/LostAnimals.json');

	}
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

 
  <body>

<button type="button" onclick="alert('Congratulations! You can click a button!')">Update Data</button>
 
</body>

  <body>
<div id="map-canvas"></div>
  </body>
</html>