<%= form_for(@marker_manager) do |f| %>
  <% if @marker_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marker_manager.errors.count, "error") %> prohibited this marker_manager from being saved:</h2>

      <ul>
      <% @marker_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
